*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    height: 500vh;
    background-color: #00111f;
    scroll-behavior: smooth;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .4s;
}
 
header.rolagem{
    background-color: #1e4f67c1;
    padding: 20px 4%;   
}
header.rolagem a, header.rolagem i{
    font-size: 35px;
    color: white;
    
}


header a{
    font-size: 35px;
    color: chocolate;
}
.bi-house-fill{
    font-size: 35px;
    color: chocolate;
}

header ul{
    list-style-type: none ;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    
    color: #ffffff;
    text-decoration: none;
}

.banner{
    height: 100vh;
    background-image: url(inicio.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.opcoes-img{
    margin: 0% 10%;
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(37, 67, 100);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}